<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [2]:
# create a list of 10 student (use just first name)
students = ["ali", "alister", "barry", "cat", "dan", "dawn", "erwin", "law", "cynthia", "jimmy"]

students = [student.capitalize() for student in students]

In [3]:
# Print the list
print(students)

['Ali', 'Alister', 'Barry', 'Cat', 'Dan', 'Dawn', 'Erwin', 'Law', 'Cynthia', 'Jimmy']

In [8]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for i in range(len(students)):
    index = i * 100
    print(f'Index {str(index).zfill(2)} -> {students[i]}')

Index 00 -> Ali
Index 100 -> Alister
Index 200 -> Barry
Index 300 -> Cat
Index 400 -> Dan
Index 500 -> Dawn
Index 600 -> Erwin
Index 700 -> Law
Index 800 -> Cynthia
Index 900 -> Jimmy

In [5]:
# print the list of students in reverse order one student in a line with its index
for i in reversed(range(len(students))):
    index = i + 1
    print(f'Index {str(index).zfill(2)} -> {students[i]}')

Index 10 -> Jimmy
Index 09 -> Cynthia
Index 08 -> Law
Index 07 -> Erwin
Index 06 -> Dawn
Index 05 -> Dan
Index 04 -> Cat
Index 03 -> Barry
Index 02 -> Alister
Index 01 -> Ali

In [6]:
# print the student list in random order
# hint look up the function random.sample
import random
random = random.sample(students, len(students)) 
print(random)

['Barry', 'Jimmy', 'Ali', 'Dawn', 'Erwin', 'Alister', 'Dan', 'Cynthia', 'Law', 'Cat']

In [15]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))
studentsAndMarks.sort(reverse = True)
print(f"Students and their marks: \n {studentsAndMarks}")
print(students)

AttributeError: 'dict' object has no attribute 'sort'

In [16]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))
sorted_values = sorted(studentsAndMarks.values()) # Sort the values
sorted_dict = {}
for i in sorted_values:
    for k in studentsAndMarks.keys():
        if studentsAndMarks[k] == i:
            sorted_dict[k] = studentsAndMarks[k]
            break
print(sorted_dict)

{'Alister': 45, 'Erwin': 55, 'Cat': 64, 'Dan': 66, 'Cynthia': 69, 'Law': 73, 'Jimmy': 75, 'Barry': 76, 'Ali': 87, 'Dawn': 90}

In [17]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = sorted(dict(zip(students,marks)).items(), key=lambda item: item[1])
print(studentsAndMarks)

[('Alister', 45), ('Erwin', 55), ('Cat', 64), ('Dan', 66), ('Cynthia', 69), ('Law', 73), ('Jimmy', 75), ('Barry', 76), ('Ali', 87), ('Dawn', 90)]

In [9]:
print(students)

['Ali', 'Alister', 'Barry', 'Cat', 'Dan', 'Dawn', 'Erwin', 'Law', 'Cynthia', 'Jimmy']

In [10]:
print(marks)

NameError: name 'marks' is not defined

In [11]:
marks = [87,45,76,64,66,90,55,73,69,75]

In [12]:
print(marks)

[87, 45, 76, 64, 66, 90, 55, 73, 69, 75]