In [38]:
#stock list updated 7Jun2021
import pandas as pd
import numpy as np

In [45]:
#got list of tickers from https://eoddata.com/symbols.aspx
#FIRST WE GET STOCK LIST FROM AMEX
df_amex = pd.read_csv('/Users/lawrenceyim/Documents/Institute of Data/projects/Data/AMEX.txt', sep=" ", delimiter = "\t")

In [46]:
#stock list from nasdaq
df_nasdaq = pd.read_csv('/Users/lawrenceyim/Documents/Institute of Data/projects/Data/NASDAQ.txt', sep=" ", delimiter = "\t")

In [47]:
#stock list from NYSE
df_nyse = pd.read_csv('/Users/lawrenceyim/Documents/Institute of Data/projects/Data/NYSE.txt', sep=" ", delimiter = "\t")

In [48]:
usa_df_combi = df_amex.append(df_nasdaq)

In [49]:
stock_ticker_df = usa_df_combi.append(df_nyse)

In [50]:
stock_ticker_df

     Symbol                       Description
0       AAA       First Priority Clo Bond ETF
1      AAAU              GS Physical Gold ETF
2      AADR   Advisorshares Dorsey Wright ETF
3      AAMC                  Altisource Asset
4       AAU                  Almaden Minerals
...     ...                               ...
3608    ZTO            Zto Express Cayman Inc
3609    ZTR  Virtus Global Divd & Income Fund
3610    ZTS                   Zoetis Inc Cl A
3611    ZUO                         Zuora Inc
3612   ZYME                     Zymeworks Inc

[10752 rows x 2 columns]

In [55]:
#drop descrip col to just keep tickers
stock_ticker_df.drop(['Description'], axis=1, inplace=True)

In [56]:
stock_ticker_df

     Symbol
0       AAA
1      AAAU
2      AADR
3      AAMC
4       AAU
...     ...
3608    ZTO
3609    ZTR
3610    ZTS
3611    ZUO
3612   ZYME

[10752 rows x 1 columns]

In [57]:
#convert to numpy
pd.DataFrame.to_numpy(stock_ticker_df)

array([['AAA'],
       ['AAAU'],
       ['AADR'],
       ...,
       ['ZTS'],
       ['ZUO'],
       ['ZYME']], dtype=object)

In [58]:
#save to text file
np.savetxt(r'/Users/lawrenceyim/Documents/Institute of Data/projects/Data/stock_ticker.txt', stock_ticker_df.values, fmt='%s', delimiter=',')